@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

.container {
  display: flex;
}

.sideBar {
  margin: 5% 0 0 0;
  width: 20%;
  text-align: right;
}
.sectionTitle {
  font-size: 2.5rem;
  padding: 3% 2% 0 2%;
  margin: 0;
  color: rgb(107, 159, 29);
  font-family: "Open Sans", sans-serif;
}

.midBar {
  width: 50%;
}

.about {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: left;
  font-size: 1rem;
  margin-top: 0;
  padding: 2%;
}

@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");

.signature {
  font-family: "Hurricane", cursive;
  margin: 0;
  font-size: 3rem;
}

.underline {
  background-color: black;
  height: 1px;
  width: 100%;
}
